body {
	background-color: pink;
	margin: 0;
}

ul {
	list-style: none;	
	margin-top: 0;
}

nav {
	background-color: teal;
	height: 40px;
}

li {
	display: inline;
}

img {
	max-width: 250px;
}

table, th, td {
	border: 1px solid grey;
}

table {
	margin: auto;
}

.center-text {
	text-align: center;
}